html
{
    min-width: 400px;
}
body
{
    margin: 8px;
    text-align: center;
}

button
{
    min-width: 80px;
    margin: 4px;
    padding: 4px;
}

input
{
    width: 40px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden
{
    display: none;
}

.loadingContainer
{
    position: fixed;
    bottom: 0;
    right: 0;
}


.row
{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixelated
{
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    width: 200px;
}

.gridBox
{
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
}
@media (min-width: 800px)
{
    .gridBox
    {
        grid-template-columns: 1fr 1fr;
    }
}

.loader
{
    width: 48px;
    height: 48px;
    border: 5px solid skyblue;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}



.panel
{
    width: 360px;
    min-height: 400px;
    margin: 8px;
    border: 1px solid #444;
    background-color: #efefef;
}
@media (min-width: 1000px)
{
    .panel
    {
        width: 480px;
    }
}

.list
{
    margin: 8px;
    padding: 8px;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    background-color: lightgray;
    border: 1px solid #444;
}

.small
{
    height: 32px;
}
.card
{
    margin: 4px;
    padding: 4px;
    background-color:rgb(190, 255, 190);
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.overflow
{
    overflow-x: scroll;
}


table
{
    margin: 8px;
    padding: 8px;
    background-color: rgb(235, 235, 235);
    border: 1px solid #444;
    border-collapse: separate;
    border-spacing: 0;
}
th
{
  cursor: pointer;
}
th, td
{
    text-align: center;
    padding: 8px;
}
td
{
    font-weight: bold;
}

tr:nth-child(even)
{
    background-color: #f2f2f2
}


.chartContainer
{
    width: 300px;
    border: 1px solid gray;
    border-radius: 8px;
}


.controls
{
    margin: 8px;
    padding: 8px;
    background-color: lightgray;
    border: 1px solid #444;
}